@import url(http://fonts.googleapis.com/css?family=Nunito:400,700);

header {
  overflow: auto; 
}

.section {
  width: 80%;
  float: left;
}

.wireframe-visible {
  border: 4px solid #FFF;
background-image: url(http://www.transparenttextures.com/patterns/cubes.png);
  background-color: #E6F4FF;

}

header img {
  background-color: #FFF;
  float: left;
  margin-right: 1em;
  width:7.8%;
  height:14.8%;
  border:1px dashed #3399FF;
  
}

header h1 {
  margin: 5px 0 0 0;
  color: rgba(87, 123, 159, 0.4);
  text-shadow: 0 2.5px 0 rgba(0,255,255, .75);

}

.float-left {
    float:left;
}

#genre-selector {
   float: left;
   padding: 12px 0;
   color: #FFF;
   text-shadow: 1px 1px 3px rgba(0,0,0, .75);
   font-size: 20px;
}

#top-menu {
  float: right;
  padding: 12px 10px;
  color: #FFF ;
  text-shadow: 1px 1px 3px rgba(0,0,0, .75);
  font-size: 20px;
}

.disabled {
  color: lightgrey;
}

.menu {
    font-family: Helvetica, sans-serif;
}

footer {
  clear:both;
  border-top: 1px solid grey;
  text-align: center;
}

tr {
  background: #F0F0F0  ;
  font-family: 'Nunito', sans-serif;  
  
}

#movieList {
  with: 100%;
  min-height: 300px;
}

.movie_info td {
    padding-left: 90px;
}

.description .spoiler {
  padding: 20px 15px;
  -webkit-box-shadow: inset 0px 0px 20px -6px rgba(0,0,0,0.7);
-moz-box-shadow: inset 0px 0px 20px -6px rgba(0,0,0,0.7);
box-shadow: inset 0px 0px 20px -6px rgba(0,0,0,0.7);
}

th {
  padding: 7px 0;
  font-size: 1.3em;
  background-color: #CEDAE5 ;
  -webkit-box-shadow: inset 0px 0px 24px -6px rgba(0,0,0,0.7);
-moz-box-shadow: inset 0px 0px 24px -6px rgba(0,0,0,0.7);
box-shadow: inset 0px 0px 24px -6px rgba(0,0,0,0.7);
}

.first-on-the-page {
  display: inline-block;
  margin: 25px 50px 0px 50px;
  background-color: /border color /;
  text-shadow: 0 1px 0 rgba(0,255,255, .75);
}

table {
    margin: 2%;
    background-color: /border color/;
    display: block;
}

nav ul {
  list-style: none;
  text-align: left;
  padding: 0 15px 0;
  font-size: 17px;
}

nav li a {
  text-decoration: none;
  color: #FFF ;
  text-shadow: 0px 1px 3px rgba(0,0,0, .75);
}

nav {
  width: 10%;
  font-family: 'Nunito', sans-serif;
  display: inline-block;
  margin: 40px 0 0 15px;
  border-radius: 7%;
  
}

.movie_info {
  background: #FFF ;
}

.title_movie {
  background: #FFFDED;
}

.page-number {
  text-align: center;
  font-size: 1.2em;
  font-family: 'Nunito', sans-serif;
  margin : 35px 0 20px 0;
  color: #577B9F;
}

.page-number a {
    text-decoration: none;
    color: #577B9F;
}


nav a.selected, nav a:hover {
  color: #C1DEFA;
  color: #577B9F;
}

.page-number a.page-selected, .page-selected :hover {
  color: #000;
}

#overlay {
  background:rgba(0,0,0,0.7);
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  display:none;
  text-align:center;
}

/////ABOUT US PAGE///

.picture {
  margin: 0 auto 30px;
  display: block;
  border-radius: 100%;
  max-width: 130px;
}

.social-icon {
  width: 40px;
  height: 40px;
  margin: 0 5px;
}

h2 {
  font-size: 32px;
  font-family: Helvetica, sans-serif;
  text-shadow: 0 1.5px 0 rgba(0,255,255, .75);
  font-family: 'Nunito', sans-serif;  
  color: #303030;
  text-align: center;
}

h3 {
  font-family: Helvetica, sans-serif;
  text-shadow: 0 1.5px 0 rgba(0,255,255, .75);
  font-family: 'Nunito', sans-serif;  
  font-size: 25px;
  color: #303030;
  padding: 20px 25px 0px;
}

p {
  text-shadow: 0 1.5px 0 rgba(0,255,255, .75);
  font-family: Helvetica, sans-serif;
    color: #000;

}

#wrapper {
  margin: 50px 190px;
  padding: 20px;
  
  background-color: rgba(255, 255, 255, 0.4);
background: rgba(255, 255, 255, 0.4);
color: rgba(255, 255, 255, 0.4);
  
  -webkit-box-shadow: inset 0px 0px 61px -23px rgba(0,0,0,0.75);
-moz-box-shadow: inset 0px 0px 61px -23px rgba(0,0,0,0.75);
box-shadow: inset 0px 0px 61px -23px rgba(0,0,0,0.75);
  
  border-radius: 5px 5px 5px 5px;
}


/////ABOUT US PAGE///

img.picture {
  margin: 10px 100px 10px 0;
  display: inline-block;
  border-radius: 100%;
  max-width: 100%;
  height: 50px;
}

.social-icon {
position: relative;
    left: 620px;

}
